---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Content as IntroContent } from '../data/intro.md';
---

<BaseLayout title="Diego Cruz - Ingeniero de Software">
  <div class="text-base font-normal leading-relaxed text-zinc-300">
    <IntroContent />
  </div>
</BaseLayout>