---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Content as IntroContent } from '../data/intro.md';
---

<BaseLayout title="Diego Cruz - Ingeniero de Software">
  <div class="prose dark:prose-invert max-w-none">
    <IntroContent />
  </div>
</BaseLayout>